*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .container{
  max-width: 428px;
  max-height: 926px;
  margin: auto;
  border: 1px gray solid;
  box-shadow:  1px gray;
  padding:45px 10px;
  }
  
  .loginForm{
    margin-top: 45px;
    margin-bottom: 58px;
  }
  
  .logo{
    max-width: 198px;
    height: 198px;
    display: block;
    margin: auto;
  }
  
  .logo_text{
    text-align: center;
    font-size:14px ;
    max-width: 318px;
    height: 52px;
    color:  #1A1A1A;
    margin: auto;
    margin-top: 15px;
  }
  
  
  .btn-container{
   margin-left: 27px;
   margin-top: 45px;
  }
  
  .btn{
    width: 188px;
    padding: 10px 0px;
    background: transparent;
    cursor: pointer;
  outline: none;
  border: none;
  text-align: center;
  font-weight: bold;
  font-size:  16px ;
  }
  
  .active{
  border-bottom: 3px solid #E70B89;
  font: 16px ;
  }
  
  .form-center{
    max-width: 300px;
    margin: auto;
    margin-top:44px ;
  }
  
  .form-Input{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    outline: none;
    padding: 15px 25px;
    border: 1px solid #1A1A1A;
    border-radius: 26px;
    font-size:16px ;
  }
  
  
  .login-Button{
    width: 100%;
    height: 50px;
    outline: none;
    cursor: pointer;
  border: none;
  border-radius: 26px;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #E70B89;
  }
  
  .forgot_password{
    text-align: right;
    margin-top: 15px;
    color: #E70B89;
    cursor: pointer;
    font-size:17px;
  }
  .loginWith{
    color:#9D9D9D;
    font-size:17px;
    text-align: center;
    margin-top: 23px;
  }
  .login-Options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .loginIcons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 21px;
    gap: 25px;
  }
  .icon{
    width: 50px;
  height: 50px;
  padding: 12px;
  border-radius: 50px;
  border: 1px solid #E6E6E6;
  margin-bottom: 10px;
  cursor: pointer;
  }
  .icon img{
    width: 100%;
    height: 100%;
  }
  
  .form-Text{
    font-size:13px;
    font-weight: 430;
    color: #1A1A1A;
    margin-top: 15px;
  }
  
  .form-Text span{
    color: #E70B89;
  }
  
  .TandC{
  text-decoration: underline;
  }
  
  @media (max-width : 410px){
    .btn{
      width: 150px;
    }
  }